.container{
    background: linear-gradient(red, 30%, black);
    border-radius: 20px;
    border: solid white 2px;
    color: rgb(194, 206, 243);
    
}

body{
    background-image: url("../images/movie.jpeg");
    background-repeat: no-repeat;
   background-size: auto;
   background-position-x: center;
    background-color: black;
    font-family: 'Vidaloka', serif;
}