.container{
    background: linear-gradient(rgb(87, 101, 203), 50%, black);
    border-radius: 20px;
    border: solid white 2px;
    color: rgb(194, 206, 243);
    
}

body{
    background-image: url("/Users/ryantaylor/Desktop/Code/API-Project/images/josh-eckstein-lbRzSxHS2kU-unsplash.jpg");
    background-repeat: no-repeat;
   background-size: auto;
   background-position-x: center;
    background-color: black;
    font-family: 'Vidaloka', serif;
}